<!DOCTYPE html>
<html>

	<head>
		<title>Robot Control</title>
		<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/grid.css', v=25) }}">
	</head>

	<body>
		<hr>
		<div id="container-header">
			<div>
				<div class="col-1-4 center"> 
					<input onclick="visible('mapping')" type="button" value="SLAM (построить карту)" style="height:60px;width:70%">
				</div>
				<div class="col-1-4 center">
					<input onclick="visible('map_zone')" type="button" value="Разметка карты"  style="height:60px;width:70%">
				</div>
				<div class="col-1-4 center">	
					<input onclick="visible('')" type="button" value="Навигация по построенной карте"  style="height:60px;width:70%">
				</div>
				<div class="col-1-4 center">
					<input onclick="visible('')" type="button" value="Удаленное управление роботом"  style="height:60px;width:70%">
				</div>
			</div>
		</div>

		<hr>
		<div id="mapping" style="height: 600px; display: none;">
		</div>
		<div id="map_zone" style="height: 600px; display: none;">
		</div>
		<div id="navigation" style="height: 600px; display: none;">
		</div>
		<div id="control" style="height: 600px; display: none;">
		</div>
		<hr>

		<div id="loading" style="display: none">
			Идет загрузка...
		</div>
	</body>

	<script>
		var name_arr = ["mapping","map_zone","navigation","control"]
		var current_page = "";

		$(document).ready(function() {
			load_content("mapping");
			load_content("map_zone");
		 });
		function load_content(page){

			$("#"+page).html($("#loading").html());
			$.ajax({
				type: "GET",  
				url: "http://127.0.0.1:8000/api/"+page+'.html',  
				cache: false,  
				success: function(html){  
					$("#"+page).html(html);  
				},
				error:function(xhr, status, errorThrown) { 
					alert(errorThrown+'\n'+status+'\n'+xhr.statusText); 
				}  
			});
		};
		
		function visible(page){
			if(current_page == page){
				return;
			}
			unvisible();
			var div = document.getElementById(page);
			div.style.display = 'block';
			current_page = page;
		};

		function unvisible(){
			for(id in name_arr){
				var div = document.getElementById(name_arr[id]);
				div.style.display = "none";
			}
		};
	</script>

</html>