<!DOCTYPE html>
<html>

	<head>
		<title>Robot Control</title>
		<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/grid.css', v=25) }}">
		<script src='../static/js/joy.js'></script>
		<script src="../static/js/main.js?v=9"></script>
		<script src="../static/js/arrow.js?v=6"></script>
	</head>

	<body>
		<hr>
		<div id="container-header">
			<div>
				<div class="col-1-4 center"> 
					<input onclick="visible('mapping')" type="button" value="SLAM (построить карту)" style="height:60px;width:70%">
				</div>
				<div class="col-1-4 center">
					<input onclick="visible('map_zone')" type="button" value="Разметка карты"  style="height:60px;width:70%">
				</div>
				<div class="col-1-4 center">	
					<input onclick="visible('navigation')" type="button" value="Навигация по построенной карте"  style="height:60px;width:70%">
				</div>
				<div class="col-1-4 center">
					<input onclick="visible('control')" type="button" value="Удаленное управление роботом"  style="height:60px;width:70%">
				</div>
			</div>
		</div>
		<div id="status2" style="color: blue;">Page</div>
		<hr>
		<div id="mapping" style="height: 600px; display: none;">
		</div>
		<div id="map_zone" style="height: 600px; display: none;">
		</div>
		<div id="navigation" style="height: 600px; display: none;">
		</div>
		<div id="control" style="height: 600px; display: none;">
		</div>
		<hr>

		<div id="loading" style="display: none">
			Идет загрузка...
		</div>
	</body>

	<script>
		$(document).ready(function() {
			load_content("mapping");
			load_content("map_zone");
			load_content("navigation");
			loop();
		 });
	</script>

</html>