<div class="container" style="height: 100%;">
    <div class="row" style="height: 100%;">
        <div class="col-1-2 center">
            <img id='map_stream_slam' src="{{ url_for('html.video_feed') }}" width="70%"/>
        </div>

        <div class="col-1-2" style="height: 100%;">
            <div class="row" style="height: 20%;">
                <div class="col-1-2 center">
                    <input id='get_point_slam' onclick="get_point_slam()" type="button" value="Задать целевую точку" style="height:60px;width:70%">
                </div>
                <div class="col-1-2 center">
                    <input onclick="send_flag('start_slam')" type="button" value="Запустить SLAM" style="word-break: break-all; height:60px;width:70%">
                </div>
            </div>

            <div class="row" style="height: 70%;">
                <div class="col-1-2" style="height: 100%;">
                    <div class="center" style="width: 100%; height: 100%;">
                        <img src="../static/images/joystick-base.png" width="50%"/>
                    </div>
                    <div id="stick1" class="center" style="height: 20%; width: 20%; position: relative; left: 40%; bottom: 60%;">
                        <img src="../static/images/joystick-red.png" width="100%"/>
                    </div>
                </div>
                <div class="col-1-2" style="height: 100%;">
                    <div class="row center" style="height: 50%;">
                        <input onclick="send_flag('save_map')" type="button" value="Сохранить построенную карту" style="height:60px;width:70%">
                    </div>
                    <div class="row center" style="height: 50%;">
                        <input onclick="send_flag('stop_slam')" type="button" value="Остановить SLAM" style="height:60px;width:70%">
                    </div>
                </div>
            </div>

            <div class="row center" style="height: 10%;">
                <p>Статус</p>
            </div>
        </div>
    </div>
</div>

<script>
    var joystick1 = new JoystickController("stick1", 64, 8);
    try{
    var arrow_slam = new Arrow('map_stream_slam', "load_slam_point", "get_point_slam");
    }
    catch (e){
        alert("slam"+e);
    }
    
    function get_point_slam(){
        arrow_slam.flag_point = true;
        arrow_slam.cliked = 0;
    }
</script>
