.category-list * {transition: .4s linear;}
.category-list {
  list-style-type: circle;
  list-style-position: inside;
  padding: 0 10px;
  margin: 0;
}
.category-list li {
  /* font-family: "Trebuchet MS", "Lucida Sans"; */
  letter-spacing:2px;
  font-size:10px;
  border-bottom: 1px solid #efefef;
  padding: 10px 0;
  color: rgb(255, 255, 255);
}
.category-list li span {
  font-size:10px;
  float: right;
  display: inline-block;
  padding: 0 100px;
  font-size: 18px;
  color: #999;
}
